database: postgres:///bostonruby
page_title: boston rubyists
poll_interval: 10
org: 
  name: bostonrb.org
  href: http://bostonrb.org
opml: http://www.blogbridge.com/rl/291/Boston+Ruby.opml
twitters: https://github.com/bostonrb/bostonrb/wiki/All-Rubyists
locations: 
- cambridge+ma 
- boston 
- somerville+ma 
- salem+ma 
- providence+ri 
- salem+ma 
- portsmouth+nh 
- portland+me

