page_title: boston rubyists
org: 
  name: bostonrb.org
  href: http://bostonrb.org
opml: http://www.blogbridge.com/rl/291/Boston+Ruby.opml
locations: 
- cambridge+ma 
- boston 
- somerville+ma 
- salem+ma 
- providence+ri 
- salem+ma 
- portsmouth+nh 
- portland+me

