<!DOCTYPE html>
<html>
  <head>
    <style>
      img { width: 30px; float:left; margin-right: 10px; }
      .update { clear: left }
    </style>
  </head>
  <body>
    <h1>boston rubyists</h1>

    <div id="updates">
      <% @updates.each do |u| %>
      <% next %>
      <div class="update">
  <img src="<%=u[:media]%>"/>
  <%= u[:content].gsub(/^/, ' ' * 6).gsub(/href="\//, 'href="https://github.com/') %>
      </div><!-- update -->
      <% end %>
    </div>

  
    <script type="text/javascript" src="/underscore.js"></script>
    <script type="text/javascript" src="/jquery-1.7.1.js "></script>
    <script type="text/javascript" src="/backbone.js"></script>
    <script type="text/javascript" src="/app.js"></script>

    <script>
      // Set up the "play" buttons for each runnable code example.
      $(function() {
        Updates.reset(<%= @updates.to_json %>);
      });
    </script>


    <!-- Templates -->

    <script type="text/template" id="update-template">
      <div class="update">
        <div class="display">
          <img src="{{ media }}"/>
          <span>{{ date }}</span>
          {{ content }}
        </div>
      </div>
    </script>

  </body>

</html>

