body {
  background: #ebebeb;
}
.container {
  margin-bottom: 50px;
}
.contentBox {
  height: 7800px;
  overflow:hidden;
  background: #fff;
  box-shadow: 0 0 7px rgba(0,0,0,0.35);
  border-radius: 8px;
  padding: 20px;
  position: relative;
}
.contentBox:after{
  border-bottom: 20px solid #fff;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  box-shadow: inset 0 -10px 20px 10px rgba(255,255,255,1);
  content: '';
  display: block;
  height: 50px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.titleheader {
  margin-top: 0.5em;
  margin-bottom: 0.15em;
  float:left;
}
.description {
  margin-bottom: 20px;
}
img { width: 30px; float:left; margin-right: 10px; }
.date {
  float: right;
  font-size: smaller;
  color: #CCC;
}

.leftBar ul {
  list-style-type: none;
  margin-left:0;
}
.blogs li {
  margin-top: 0.5em;
}
.update { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  padding-bottom: 0px;
  overflow: hidden;
}
  .update img {
    margin-top:5px;
  }

.blogpost { 
  border-top: 1px dotted #ECECEC;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}
.tweet { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  font-size: smaller;
  overflow:hidden;
}
  .tweet p { 
    margin-bottom: 2px;
  }
    
#bostonrblink {
  margin-top: 1em;
  float:right;
}
.location {
  color: #CCC;
  font-size: smaller;
}
.tweet_date {
  float: right;
  color: #CCC;
  font-size: smaller;
}
.tweet img {
  float: left;
  padding-top:5px;
}
blockquote p {
  font-size: 12px;
  line-height: 18.5px;
  overflow:hidden;
}

.person {
  display: block;
  float: left;
  margin-right: 1em;
}
.people {
  margin-top: 20px;
  padding-top: 20px;
}
