.container {
  margin-bottom: 50px;
  height: 7800px;
  overflow:hidden;
}
.titleheader {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
img { width: 30px; float:left; margin-right: 10px; }
.date {
  float: right;
  font-size: smaller;
  color: #CCC;
}

.leftBar ul {
  list-style-type: none;
  margin-left:0;
}
.blogs li {
  margin-top: 0.5em;
}
.update { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  padding-top: 0.4em;
  padding-bottom: 0px;
}
  .update img {
    margin-top:5px;
  }

.blogpost { 
  border-top: 1px dotted #ECECEC;
  padding-bottom: 0.3em;
  padding-top: 0.5em;
}
.tweet { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  font-size: smaller;
}
  .tweet p { 
    margin-bottom: 2px;
  }
    
#bostonrblink {
  margin-top: 1em;
  float:right;
}
.location {
  color: #CCC;
  font-size: smaller;
}
.tweet_date {
  color: #CCC;
  font-size: smaller;
}
.tweet img {
  float: left;
  padding-top:5px;
}
