.container {
  margin-bottom: 50px;
  height: 7800px;
  overflow:hidden;
}
.titleheader {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
img { width: 30px; float:left; margin-right: 10px; }
.date {
  float: right;
  font-size: smaller;
  color: #CCC;
}

.update { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

.blogpost { 
  border-top: 1px dotted #ECECEC;
  padding-top: 0.5em;
  padding-bottom: 0.7em;

}
.tweet { 
  clear: left;
  border-top: 1px dotted #ECECEC;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
}

#bostonrblink {
  margin-top: 1em;
  float:right;
}
.location {
  color: #CCC;
  font-size: smaller;
}
.tweet_date {
  color: #CCC;
  font-style: italic;
  font-size: smaller;
}
.tweet img {
  float: left;
  padding-top:5px;
}
